body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-nav-wrap.show {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn .3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}